doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{docTitle}
        link(rel="stylesheet", href="/css/main.css")
    body
        header.main-header 
            nav.mian-header__nav 
                ul.mian-header__item-list
                    li.main-header__item
                        a.active(href="/") Shop
                    li.main-header__item
                         a.active(href="/admin/add-product") Add Products
        main
            if prods.length > 0 
                each product in prods 
                    h1 #{product.title}
                    p #{product.body}
            else
                h1 No Products